<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063325496850-u4s2aku0j2o2iio1cm25f1dj6cpc2546.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063325496850-u4s2aku0j2o2iio1cm25f1dj6cpc2546</string>
	<key>API_KEY</key>
	<string>AIzaSyDYgseljoGk0c8cdGh-9nCvmeDRTVy5jUo</string>
	<key>GCM_SENDER_ID</key>
	<string>1063325496850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starter.sogeun</string>
	<key>PROJECT_ID</key>
	<string>sogeun-d8566</string>
	<key>STORAGE_BUCKET</key>
	<string>sogeun-d8566.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063325496850:ios:cb87a975f805179fde8acb</string>
</dict>
</plist>